.cp-details {
  position: absolute;
  left: 1rem;
}

summary {
  color: white;
  font-size: 1.5rem;
}

summary:focus {
  outline: none;
}

summary:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

code {
  background-color: lightgrey;
  padding: 0.5rem;
  border-radius: 3px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
