.example-us, .example-ue {
  display: flex;
  flex-direction: column;
}

input {
  font-size: 2rem;
  padding: 1rem;
}

input:focus {
  outline: none;
}

h1 {
  color: white;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

p {
  font-size: 2rem;
  color: white
}

img {
  border-radius: 1rem;
  border: 0.2rem solid white;
  width: 500px;
  height: 375px;
}
